.*
!/.*
!/ec2Instance/.*
!/.gitignore
ec2Instance/.*
ec2Instance/.terraform/*
aws_DynamoDB/.*
Version_constraints/.*
aws_IAM/.*
aws_S3/.*
aws_S3/terraform.tfstate
CountandForEach/.*
Data_Source/.*
Dynamic/.*
Provisioner/.*
workspace/.*